<log4net debug="true" >
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="Log/Log.txt"/>
    <threshold value="DEBUG"/>
    <appendToFile value="true"/>
    <!-- rollingStyle peut prendre la valeur date, il sera renommé chaque jour-->
    <rollingStyle value="Size"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>